@media (min-width: 850px) {
    #myButton {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 5%;
        height: 30px;
    }

    ul.menuLinks {
        display: flex !important;
        gap: 1rem;
    }

    ul.menuLinks li {
        list-style: none;
    }

    ul.menuLinks a {
        padding: 0.5rem 1rem;
        font-weight: bold;
        border-radius: 5px;

    }

    /*Header Styling for Large Screens */
    header {
        padding: 1.5rem 5%;
        justify-content: space-between;
    }


    /* Buttons stay centered on large screens */
    .view-buttons {
        margin: 30px 0;
    }

    /* Grid Layout for Larger Screens */
    #directory {
        gap: 25px;
    }

    /* Slightly Bigger Cards */
    .business-card {
        padding: 25px;
        border-radius: 12px;
    }

    .business-card img {
        max-width: 120px;
    }

    .business-card h3 {
        font-size: 1.3rem;
    }

    .business-card p {
        font-size: 1.1rem;
    }

    footer {
        width: 100% !important;
    }

    /* List View Refinement */
    .list-card img {
        width: 80px !important;
    }

    .list-card h3 {
        font-size: 1.2rem !important;
    }

    .list-card p {
        font-size: 1rem !important;
    }

    .list-card a {
        font-size: 1rem !important;
    }

    .hero-text h1 {
        white-space: nowrap;
        font-size: 1.6rem !important;
        overflow: hidden;
        border-right: 3px solid white;
        animation: typing 3s steps(40, end), blinkCursor 0.75s step-end infinite;
    }

    .hero-text p {
        font-size: 1rem !important;
    }

    .weather-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}